@import 'style/font-faces.scss';
@import 'style/vars.scss';

html, body, #main-container {
  width: 100%;
  height: 100%;
}

body {
  font-family: $main-font, Helvetica, sans-serif;
}

canvas {
  display: block;
  outline: none;
}

*::selection {
  background-color: $accent-color;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

// TODO: breakpoints
.widget {
  position: absolute;
  top: 0;
  right: 0;
  transform: perspective(1000px) rotateY(-10deg);
  width: 500px;
  height: 600px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.color-picker {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(100px, 500px);
}

.player-ui {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;

  &__btn {
    background-color: transparent;
    border: 1px solid $text-color;
    border-radius: 5px;
    color: $text-color;
    user-select: none;
    margin-right: 5px;
  }
}

.playlist-ui {
  width: 100%;
  padding: 20px;

  &__title {
    font-family: $title-font;
    letter-spacing: 0.2rem;
    text-align: center;
  }
}

.tracklist {
  width: 100%;
  overflow: scroll;
  border-collapse: collapse;

  thead {
    font-size: 1.2rem;
  }

  & tr {
    border-bottom: 1px solid $text-color;
    padding: 5px;
  }

  &__placeholder {
    text-align: center;
  }
}