/* TODO: woff conversion */
@font-face {
  font-family: "VCR OSD Mono";
  src: url("assets/fonts/VCR_OSD_MONO.ttf") format("truetype");
}
@font-face {
  font-family: "Streamster";
  src: url("assets/fonts/Streamster.ttf") format("truetype");
}
