/* TODO: woff conversion */
@font-face {
  font-family: "VCR OSD Mono";
  src: url("assets/fonts/VCR_OSD_MONO.ttf") format("truetype");
}
@font-face {
  font-family: "Rocket Clouds";
  src: url("assets/fonts/Rocket_Clouds.ttf") format("truetype");
}

body {
  font-family: "VCR OSD Mono", Helvetica, sans-serif;
}

#main-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.player-btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  user-select: none;
}